[class*='preview-grid-module--grid'] > li {
  color: rgba(255, 255, 255, 0);
  animation: fadeInBlock 0.5s 0.2s ease-in-out forwards;
  transition: background-color 0.3s linear, color 0.3s linear;
  padding: 0.35rem;
  &:hover,
  &:focus {
    box-shadow: 0 0 0.65rem rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

[class*='preview-grid-module--grid'] img {
  opacity: 0;
  padding: 0;
  animation: fadeInImg 0.5s 0.5s ease-in-out forwards;
}

[class^='layout-module--content'] {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 128, 128, 0.3);
  &:after {
    content: '';
    background-image: url(../images/jam.svg);
    background-repeat: repeat;
    background-position: center center;
    background-size: 35vw;
    opacity: 0.2;
    width: 200vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.contactform {
  margin: 1rem;
  border-top: 2px solid #999;
  padding: 1rem;
  form {
    background: #fff;
  }
  label {
    display: block;
    min-width: 200px;
  }
  form input {
    display: block;
    width: 100%;
  }
}

@keyframes fadeInBlock {
  0% {
    color: rgba(255, 255, 255, 0);
    background-color: #eeeeee;
  }
  20% {
    color: rgba(255, 255, 255, 0);
    background-color: lavender;
  }
  80% {
    color: rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
  }
  100% {
    color: #000;
    background-color: #fff;
  }
}

@keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
